body {
    background-color: #E0EAF4;
    }
    h1 {
    	padding-bottom: 20px;
    	text-align: center;
        font-family: 'Bellefair', serif;
    }
    p {
        font-family: 'Bellefair', serif;
        font-size: 20px;
    }

	 .caption {
		background:  #F7F6F4;
	  }
	 .container-fluid {
		margin-left: 30px;
	   }
    .totalScore {
	  margin-top: 20px;
    }
    img {
    	margin-left: 30px;

